a {
    cursor: pointer;
}

.datos-actividad label {
    color: #992e45;
    display: block;
    font-size: 12px;
    width: 100%;
    position: relative;

}

.datos-actividad h2 {
    font-size: 24px;
    width: auto;
    margin: 4px 0px;

}

.datos-actividad h3 {
    font-size: 18px;
    width: auto;
    margin: 0;

}

.datos-actividad h4 {

    color: #444;
    display: inline-block;
    font-size: 16px;
    width: auto;
    margin: 0;

}

.datos-actividad span {
    display: block;
    font-size: 16px;
    width: 100%;
    position: relative;
}
.datos-actividad .row{
    margin-bottom: 10px;
}
.presupuesto-actividad {
    margin-top: 20px;
}
.presupuesto-actividad h2 {
    font-size: 24px;
}

.header-presupuesto {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}
.button-nuevo-presupuesto{
    position: absolute;
    top: 4px;
    right: 16px;
}

.header-actividades {
    margin-top: 30px;
    margin-bottom: 10px;
}


label.label-actividad {
    font-weight: 600;
    font-size: 14px !important;
}

.datos-actividad label.label-proyecto {
    font-weight: 600;
    display: inline-block;
    margin-right: 12px;
    width: auto;
}