<div class="animated fadeIn">

    <div class="col s12 ">    
        <div class="pb-0 " id="">
            <!-- Search for small screen-->
            <div class="container-page">
                <div class="row ">
                    <div class="col s12">
                        <div class="title-page ">
                            <h2 class="upeu-text mt-0 mb-0 upeu-garnet-text animated shake">
                                Detalle Proyecto <i class="material-icons">create</i>                                    
                            </h2>
                            <nav class="breadcrumb-page">
                                <div class="nav-wrapper">
                                    <div class="col s12">
                                        <a routerLink="inicio" class="breadcrumb" disabled>Inicio</a>
                                        <a routerLink="inicio" class="breadcrumb" disabled>Proyectos</a>
                                        <span class="breadcrumb" disabled>Detalle Proyecto</span>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col s12  ">
        <div class="container-page">
            <div class="section">
    
                <div class="datos-proyecto">       
                    <div class="row">
                        <div class="col l8 s12" >
                            <label style="font-weight: 600;" >PROYECTO: </label> 
                            <span >{{ proyecto.nombre_proyecto | uppercase }}</span> 
                        </div>

                        <div class="col l4 s12" >
                            <label for="nombre_corto">Nombre corto: </label>
                            <span >{{ proyecto.nombre_proyecto_corto }}</span> 
                        </div>
                    </div>                                

                    <div class="row">
                        <div class="col l8 s12">
                            <label for="descripcion_proyecto">Descripción</label>
                            <span>{{ proyecto.descripcion }}</span>
                        </div>     

                        <div class="col l4 s12 mt-s-1"  >                                
                            <label>Tipo de Proyecto</label>
                            <span>{{ proyecto.tipo_proyecto }}</span>
                        </div>                           
                    </div>                              
                </div>
                
                <div class="actividades-proyecto">
                    <div class="header-actividades">
                        <h2>Actividades</h2>
                        
                        <div class="button-nueva-actividad">
                            <button class="btn waves-effect waves-light upeu-garnet" [routerLink]="[ '/nuevo-proyecto/nueva-actividad', gp_id.gp_id ]">
                                <span class="hide-on-med-and-down show-on-large"><i class="fa fa-plus" style="font-size: 1em"></i> Nueva Actividad</span> 
                                <span class="show-on-medium-and-down hide-on-large-only"><i class="fa fa-plus" style="font-size: 1em"></i></span> 
                            </button>                                    
                        </div>

                    </div>
                    <div class="row">
                        
                        <app-actividad-tarjeta-horizontal [actividad]="actividad" [linkDetalle]="linkActividad" *ngFor="let actividad of actividades; let i = index" ></app-actividad-tarjeta-horizontal>
                        
                    </div>

                    <!-- <div class="row">
                        <app-actividad-tarjeta [actividad]="actividad" [linkDetalle]="linkActividad" *ngFor="let actividad of actividades; let i = index" ></app-actividad-tarjeta>
                    </div> -->


                </div>

            </div>
    
        </div>
    </div>
        
    </div>