<header>
    <div class="navbar navbar-fixed">
        <nav class="gradient-45upeu-dark _gradient-shadow navbar-dark">
        <div class="nav-wrapper">
            <div class="header-search-wrapper hide-on-med-and-down">
                <i class="material-icons">search</i>
                <input class="header-search-input z-depth-2" type="text" name="Search" placeholder="Buscar en UPeU GPro">
            </div>

            <ul class="right ">
                <li class="hide-on-large-only"><a href="#"><i class="material-icons ">search</i></a></li>
                <li class="hide-on-med-and-down"><a href="#"><i class="material-icons">chat_bubble_outline</i></a></li>
                <li class="hide-on-med-and-down"><a href="#"><i class="material-icons fa fa-bell-o"></i></a></li>
                <li class="hide-on-med-and-down"><a href="#">
                    <div class="perfil-wrapper">
                        <img src="../../../assets/img/fotos/daniel.pachamora.jpg" alt="Daniel Pachamora" >

                    </div>
                </a></li>
                <li><a href="#"><i class="material-icons fa fa-ellipsis-v"></i></a></li>
            </ul>
            
        </div>
        </nav>
    </div>
</header>