<div class="col s12 l6">
    <div class="card horizontal hoverable">
        <div class="card-image">
            <img src="assets/img/images/img3.jpg">
            <span class="card-title truncate">Título de Tarjeta</span>
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <span class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing </span>
                <p>Fecha Inicio - Fin.</p>
                <p>Ejes</p>
                <p>Ares</p>
                <div>
                    <span class="ppto operativo">10,000.00</span>
                    <span class="ppto autofinanciado" >10,000.00</span> 
                    <span class="ppto total" >20,000.00</span> 

                </div>
            </div>
            <div class="card-action">
                <a href="#" class="upeu-garnet-text">Ir a Actividad</a>
            </div>
        </div>
    </div>
</div>