<div class="col s12 l6 ">
    <a class="pointer" [routerLink]="[ linkDetalle, actividad.id_actividad ]">
        <div class="card horizontal hoverable">
            <div class="card-image">
                <img src="assets/img/images/img3.jpg">
                <span class="card-title truncate">{{ actividad.nombre_actividad }}</span>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p class="truncate">{{ actividad.descripcion }}</p>
                    <p class="truncate">{{ actividad.fecha }}</p>
                    <p class="truncate">{{ actividad.ejes }}</p>
                    <p class="truncate">{{ actividad.areas }}</p>
                    <div>
                        <span class="ppto operativo">{{ actividad.presupuesto }}</span>
                        <span class="ppto autofinanciado" >{{ actividad.autofinanciado }}</span> 
                        <span class="ppto total" >{{ actividad.total }}</span> 

                    </div>
                </div>
                <div class="card-action">
                    <a href="#" class="upeu-garnet-text">Ir a Actividad</a>
                </div>
            </div>
        </div>
    </a>
</div>