body {
    background-color: #ffffff;
}

/* HEADER */
.navbar .header-search-wrapper {
    position: relative;
    display: inline-block;
    width: -webkit-calc(100% - 600px);
    width: -moz-calc(100% - 600px);
    width: calc(100% - 600px);
    height: 40px;
    margin: 10px auto 0 285px;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.navbar .header-search-wrapper i {
    font-size: 24px;
    line-height: 32px !important;
    position: absolute;
    top: 6px;
    left: 24px;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease;
}

.navbar .navbar-dark .header-search-wrapper i {
    color: #fff;
}

.navbar input.header-search-input {
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 87%;
    height: 24px;
    padding: 8px 8px 8px 72px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    border-radius: 3px;
    outline: none;
    background: rgba(255, 255, 255, .3);
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.navbar .navbar-dark .header-search-wrapper input.header-search-input {
    color: #fff;
    border: 1px solid rgba(230, 230, 230, .05);
    background: rgba(230, 230, 230, .3);
}

.navbar .navbar-dark .header-search-wrapper input.header-search-input:hover,
.navbar .navbar-dark .header-search-wrapper input.header-search-input:active,
.navbar .navbar-dark .header-search-wrapper input.header-search-input:focus 
{
    border: 1px solid rgba(230, 230, 230, .1);
    background: rgba(230, 230, 230, .1);
    box-shadow: none !important;
}

.perfil-wrapper {
    line-height: 30px;
}

.perfil-wrapper img {
    border-radius: 50%;
    height: 36px;
    margin-top: 10px;
}



/* FIN DE HEADER */

/* SIDENAV */
.sidenav-main {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 260px;
    height: 100%;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}

/* LOGO */
.brand-sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: 56px;
    background: #6b202e;
    -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .2);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.brand-sidenav .logo-wrapper {
    font-size: 3rem;
    line-height: 56px;
    margin: 0;
    white-space: nowrap;
}

.brand-sidenav .logo-wrapper img {
    height: 28px;
    left: 54px;
    position: absolute;
    top: 14px;
}
.brand-sidenav .logo-wrapper span.logo-text {
    color: #ffffff;
    font-size: 28px;
    left: 80px;
    padding-left: 8px;
    position: absolute;
    transition: opacity .2s linear;
    visibility: visible;

    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    opacity: 1;
}

.brand-sidenav .logo-wrapper a.navbar-toggler {
    border-radius: 50px;
    cursor: pointer;
    left: 8px;
    padding: 5px;
    position: absolute;
    top: 10px;
}

.brand-sidenav .logo-wrapper a.navbar-toggler i {
    font-size: 24px;
    display: block;
    color: #ffffff;
}

/* LA LISTA ORDENADA - MENU LATERAL */
.sidenav {
    top: 64px;
    overflow: hidden;
    width: inherit;
    height: 100%;
    -webkit-transition: auto !important;
    -moz-transition: auto !important;
    -o-transition: auto !important;
    transition: auto !important;
    border: none;
    -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .2);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.sidenav.sidenav-fixed {
    position: fixed;
    left: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

/* Color de los ITEMS del sidenav */
.collection a.collection-item {
    color: #992e45;
}
.collection a.collection-item i {
    color: #992e45;
}

.sidenav .active .collapsible-header,
.sidenav.fixed .active .collapsible-header {
  background-color: rgba(107, 32, 46, 0.09);
}

.collection-item{
    position: relative;
}

.name-menu-item{
    margin-left: 12px
}


/* .collection a.collection-item,  */
.sidenav a.collection-item {
    border-radius: 0 12px 12px 0;
    margin-right: 16px;
    padding: 10px 10px 10px 30px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
} 

.sidenav li.active .fa-angle-down:before {
    content: "\f106";
}

.sidenav li.active {
    /* background-color: rgba(107, 32, 46, 0.09); */
    background-color: transparent;
}

.sidenav li .collapsible-body {
    background: transparent;
}

.collection .collection-item {
    background: transparent;
    border-bottom: none;
}

.collection a.collection-item:not(.active):hover {
    background-color: rgba(233, 204, 98, 0.5);
}

.collection .collection-item.active {
    background: #992e45;
    background: -webkit-gradient(linear, right top, left top, from(#992e45), to(#6b202e)) ;
    background: -webkit-linear-gradient(right, #992e45, #6b202e) ; 
    /* background: -moz- oldlinear-gradient(right, #992e45, #6b202e) ; */
    background:      -o-linear-gradient(right, #992e45, #6b202e) ;
    background:         linear-gradient(-90deg, #992e45, #6b202e) ;
    color: #ebe98e;
}

.collection .collection-item.active i {
    color: #ebe98e;
}

.collapsible-header{
    position: relative;
}

.i-right{
    font-size: 16px !important;
    margin: 0 !important;
    position: absolute;    
    right: 10px;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}

/* FIN - SIDENAV */


/*  FORMULARIOS AJUSTES*/

.input-field.bordered{
    margin-top: 0px;
}

.input-field{
    margin-top: 0px;
}

/* inputs por defecto */
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #992e45;
  -webkit-box-shadow: 0 1px 0 0 #992e45;
          box-shadow: 0 1px 0 0 #992e45;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #992e45;
}


/* bordeado inputs*/
.bordered input:not([type]), 
.bordered input[type=text]:not(.browser-default), 
.bordered input[type=password]:not(.browser-default), 
.bordered input[type=email]:not(.browser-default), 
.bordered input[type=url]:not(.browser-default), 
.bordered input[type=time]:not(.browser-default), 
.bordered input[type=date]:not(.browser-default), 
.bordered input[type=datetime]:not(.browser-default), 
.bordered input[type=datetime-local]:not(.browser-default), 
.bordered input[type=tel]:not(.browser-default), 
.bordered input[type=number]:not(.browser-default), 
.bordered input[type=search]:not(.browser-default),
.bordered textarea.materialize-textarea {
    border: 1px solid #9e9e9e ;
    border-radius: 5px;
    padding: 0 0 0 8px;
}

/* bordeado inputs hover*/

.bordered input[type=text]:hover:not(.browser-default), 
.bordered input[type=password]:hover:not(.browser-default), 
.bordered input[type=email]:hover:not(.browser-default), 
.bordered input[type=url]:hover:not(.browser-default), 
.bordered input[type=time]:hover:not(.browser-default), 
.bordered input[type=date]:hover:not(.browser-default), 
.bordered input[type=datetime]:hover:not(.browser-default), 
.bordered input[type=datetime-local]:hover:not(.browser-default), 
.bordered input[type=tel]:hover:not(.browser-default), 
.bordered input[type=number]:hover:not(.browser-default), 
.bordered input[type=search]:hover:not(.browser-default),
.bordered textarea.materialize-textarea:hover {
    border: 1px solid #000 ;
}


.bordered textarea.materialize-textarea {
    padding: .8rem 0 .8rem 8px;
}

.bordered input:not([type]):focus:not([readonly]),
.bordered input[type=text]:not(.browser-default):focus:not([readonly]),
.bordered input[type=password]:not(.browser-default):focus:not([readonly]),
.bordered input[type=email]:not(.browser-default):focus:not([readonly]),
.bordered input[type=url]:not(.browser-default):focus:not([readonly]),
.bordered input[type=time]:not(.browser-default):focus:not([readonly]),
.bordered input[type=date]:not(.browser-default):focus:not([readonly]),
.bordered input[type=datetime]:not(.browser-default):focus:not([readonly]),
.bordered input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.bordered input[type=tel]:not(.browser-default):focus:not([readonly]),
.bordered input[type=number]:not(.browser-default):focus:not([readonly]),
.bordered input[type=search]:not(.browser-default):focus:not([readonly]),
.bordered textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #992e45;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Labels */
.bordered.input-field > label {
    margin-left: 8px;
}
.bordered.input-field > label:not(.label-icon).active {
    background: #ffffff;
    padding: 0 4px;
    width: auto;
    -webkit-transform: translateY(-10px) translateX(4px) scale(.9);
       -moz-transform: translateY(-10px) translateX(4px) scale(.9);
        -ms-transform: translateY(-10px) translateX(4px) scale(.9);
         -o-transform: translateY(-10px) translateX(4px) scale(.9);
            transform: translateY(-10px) translateX(4px) scale(.9);
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;
}


/* Selects */
.bordered .select-wrapper + label {
    background: #ffffff ;
    padding: 0 4px;
    width: auto;
    top: -22px;
    font-size: 0.9rem;
    z-index: 2;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #992e45;
}

/* Archivo */
.file-field input.file-path {
    width: calc(100% - 10px);
}

/* Validaciones */
/* Correcto */
input[type=text].has-validated:not(.browser-default):not([readonly]),
input[type=password].has-validated:not(.browser-default):not([readonly]),
input[type=email].has-validated:not(.browser-default):not([readonly]),
input[type=url].has-validated:not(.browser-default):not([readonly]),
input[type=time].has-validated:not(.browser-default):not([readonly]),
input[type=date].has-validated:not(.browser-default):not([readonly]),
input[type=datetime].has-validated:not(.browser-default):not([readonly]),
input[type=datetime-local].has-validated:not(.browser-default):not([readonly]),
input[type=tel].has-validated:not(.browser-default):not([readonly]),
input[type=number].has-validated:not(.browser-default):not([readonly]),
input[type=search].has-validated:not(.browser-default):not([readonly]),
textarea.materialize-textarea.has-validated:not([readonly]) {
  border-bottom: 1px solid green;
  -webkit-box-shadow: 0 1px 0 0 green;
          box-shadow: 0 1px 0 0 green;
}

/* Validación CORRECTA  VALIDATED inputs BORDERED */
.bordered > input[type=text].has-validated:not(.browser-default):not([readonly]),
.bordered > input[type=password].has-validated:not(.browser-default):not([readonly]),
.bordered > input[type=email].has-validated:not(.browser-default):not([readonly]),
.bordered > input[type=url].has-validated:not(.browser-default):not([readonly]),
.bordered > input[type=time].has-validated:not(.browser-default):not([readonly]),
.bordered > input[type=date].has-validated:not(.browser-default):not([readonly]),
.bordered > input[type=datetime].has-validated:not(.browser-default):not([readonly]),
.bordered > input[type=tel].has-validated:not(.browser-default):not([readonly]),
.bordered > input[type=number].has-validated:not(.browser-default):not([readonly]),
.bordered > input[type=search].has-validated:not(.browser-default):not([readonly]),
.bordered > input[type=datetime-local].has-validated:not(.browser-default):not([readonly]),
.bordered > textarea.materialize-textarea.has-validated:not([readonly])
{
    border: 1px solid green;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px 0px green;
    box-shadow: 0px 0px 1px 0px green;
   
}

input[type=text].has-validated:not(.browser-default) ~ label:not(.label-icon),
input[type=password].has-validated:not(.browser-default) ~ label:not(.label-icon),
input[type=email].has-validated:not(.browser-default) ~ label:not(.label-icon),
input[type=url].has-validated:not(.browser-default) ~ label:not(.label-icon),
input[type=time].has-validated:not(.browser-default) ~ label:not(.label-icon),
input[type=date].has-validated:not(.browser-default) ~ label:not(.label-icon),
input[type=datetime].has-validated:not(.browser-default) ~ label:not(.label-icon),
input[type=tel].has-validated:not(.browser-default) ~ label:not(.label-icon),
input[type=number].has-validated:not(.browser-default) ~ label:not(.label-icon),
input[type=search].has-validated:not(.browser-default) ~ label:not(.label-icon),
input[type=datetime-local].has-validated:not(.browser-default) ~ label:not(.label-icon),
textarea.materialize-textarea.has-validated:not(.browser-default) ~ label:not(.label-icon)
{
    color: green;
}

.bordered input[type=text].file-path.valid:not(.browser-default){
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px green;
}
/* Selects */
.bordered.has-validated .select-wrapper input.select-dropdown  {
    border: 1px solid green;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px 0px green;
    box-shadow: 0px 0px 1px 0px green;
}



/* Incorrecto - Invalidate*/

input[type=text].has-error:not(.browser-default):not([readonly]),
input[type=password].has-error:not(.browser-default):not([readonly]),
input[type=email].has-error:not(.browser-default):not([readonly]),
input[type=url].has-error:not(.browser-default):not([readonly]),
input[type=time].has-error:not(.browser-default):not([readonly]),
input[type=date].has-error:not(.browser-default):not([readonly]),
input[type=datetime].has-error:not(.browser-default):not([readonly]),
input[type=tel].has-error:not(.browser-default):not([readonly]),
input[type=number].has-error:not(.browser-default):not([readonly]),
input[type=search].has-error:not(.browser-default):not([readonly]),
input[type=datetime-local].has-error:not(.browser-default):not([readonly]),
textarea.materialize-textarea.has-error:not([readonly])
{
    border-bottom: 1px solid red;  /* Color Personalizado de los inputs*/
    -webkit-box-shadow: 0 1px 0 0 red;
          box-shadow: 0 1px 0 0 red;
}
/* Bordered */
.bordered > input[type=text].has-error:not(.browser-default):not([readonly]),
.bordered > input[type=password].has-error:not(.browser-default):not([readonly]),
.bordered > input[type=email].has-error:not(.browser-default):not([readonly]),
.bordered > input[type=url].has-error:not(.browser-default):not([readonly]),
.bordered > input[type=time].has-error:not(.browser-default):not([readonly]),
.bordered > input[type=date].has-error:not(.browser-default):not([readonly]),
.bordered > input[type=datetime].has-error:not(.browser-default):not([readonly]),
.bordered > input[type=tel].has-error:not(.browser-default):not([readonly]),
.bordered > input[type=number].has-error:not(.browser-default):not([readonly]),
.bordered > input[type=search].has-error:not(.browser-default):not([readonly]),
.bordered > input[type=datetime-local].has-error:not(.browser-default):not([readonly]),
.bordered > textarea.materialize-textarea.has-error:not([readonly])
{
    border: 1px solid red;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px 0px red;
    box-shadow: 0px 0px 1px 0px red;   
}

input[type=text].has-error:not(.browser-default) ~ label:not(.label-icon),
input[type=password].has-error:not(.browser-default) ~ label:not(.label-icon),
input[type=email].has-error:not(.browser-default) ~ label:not(.label-icon),
input[type=url].has-error:not(.browser-default) ~ label:not(.label-icon),
input[type=time].has-error:not(.browser-default) ~ label:not(.label-icon),
input[type=date].has-error:not(.browser-default) ~ label:not(.label-icon),
input[type=datetime].has-error:not(.browser-default) ~ label:not(.label-icon),
input[type=tel].has-error:not(.browser-default) ~ label:not(.label-icon),
input[type=number].has-error:not(.browser-default) ~ label:not(.label-icon),
input[type=search].has-error:not(.browser-default) ~ label:not(.label-icon),
input[type=datetime-local].has-error:not(.browser-default) ~ label:not(.label-icon),
textarea.materialize-textarea.has-error:not(.browser-default) ~ label:not(.label-icon)
{
    color: red;
}

/* inpu errores y vacíos */
.has-error:not(.browser-default) ~ label:not(.label-icon)
{
    -webkit-transform: translateY(-10px) translateX(4px) scale(.9);
       -moz-transform: translateY(-10px) translateX(4px) scale(.9);
        -ms-transform: translateY(-10px) translateX(4px) scale(.9);
         -o-transform: translateY(-10px) translateX(4px) scale(.9);
            transform: translateY(-10px) translateX(4px) scale(.9);
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;
    width: auto;
    background: #fff;
    padding: 0 4px;
    color: red;
}


.bordered.has-error .select-wrapper input.select-dropdown  {
    border: 1px solid red;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px 0px red;
    box-shadow: 0px 0px 1px 0px red;
}


/* Color de Validaciones */
.has-validated-text {
    color: green !important;
}

.has-error-text {
    color: red !important;
}

/* Helpers text */
.input-field .helper-text {
    margin-top: -6px !important;
}


/* FIN FORMULARIOS AJUSTES */


/* DATEPICKER */

/* // color del Data picker... */
.datepicker-date-display {
    background-color: #992f46
}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    padding: 0 1rem;
    color: #992f46;
}
.datepicker-day-button:focus,
.datepicker-day-button:hover {
    background-color: rgba(233, 204, 98, 0.5);
}

.datepicker-table td.is-selected {
    color: #fff !important;
    background-color: #992f46;
}
.datepicker-table td.is-today {
    color:  rgba(153, 47, 70, 0.5);
}
.month-prev:hover,
.month-prev:focus,
.month-next:hover,
.month-next:focus {
    background-color: rgba(153, 47, 70, 0.5);
}

/* FIN DATE PICKER */


.upeu-garnet-text{
    color: #992e45;
}

.gradient-45upeu-dark
{
      background: #992e45;
      background: -webkit-gradient(linear, right top, left top, from(#992e45), to(#6b202e)) ;
      background: -webkit-linear-gradient(right, #992e45, #6b202e) ; 
      /* background: -moz- oldlinear-gradient(right, #992e45, #6b202e) ; */
      background:      -o-linear-gradient(right, #992e45, #6b202e) ;
      background:         linear-gradient(-90deg, #992e45, #6b202e) ;
}
.gradient-45upeu-dark.gradient-shadow
{
    -webkit-box-shadow: 0 6px 20px 0 rgba(107, 32, 46, .5) ;
            box-shadow: 0 6px 20px 0 rgba(107, 32, 46, .5) ;
}

.logo-upeu-gpro{
    margin: 0 16px;
    overflow: hidden;
    height: 64px;
}

.logo-upeu-gpro img{    
    display: inline-block;
    height: 40px;    
    vertical-align: middle;
}

.logo-upeu-gpro span{
    display: inline-block;
    font-size: 32px;
    margin-left: 8px;
    /* vertical-align: middle; */
}

.pdt-16{
    padding-top: 16px;
}

.menu-celular{
    position: absolute;
    top: 15px;
    z-index: 998;
    color: #ececec;
    left: 8px;
}

.menu-celular i{
    font-size: 36px;
}

.container-page{
    padding: 0 16PX;
}

/* BREADCRUMB DE CADA PAGINA */
.breadcrumb-page {
    background-color: transparent;
    box-shadow: none;
    height: 24px;
    line-height: 24px;
}

.breadcrumb-page  .breadcrumb {
    font-size: 14px;
}
.breadcrumb-page a, .breadcrumb::before {
    color: #444 !important;
}
.breadcrumb-page a:hover {
    color: rgba(153, 46, 69, 0.5) !important;
}

.breadcrumb-page span{
    color: #888 !important;
}

/* BREADCRUMB DE CADA PAGINA  FIN */


/* TITULO DE CADA PAGÍNA */
.title-page h2{
    margin-top: 0;
    font-size: 38px;
    margin-bottom: 12px
}

.card {
    overflow: hidden;
    margin: 1rem 0 .5rem 0;
}


#container-page{
    padding-top: 16px;

}
#container-page.main-full {
    padding-left: 0;
}

/* COLORES COLORES */
.upeu-garnet{
    background-color: #992e45 !important;
}

.btn.upeu-garnet:hover{
    background-color: #c03553 !important;
}

@media only screen and (min-width: 601px){
    .brand-sidenav {
        height: 64px;
    }

    .brand-sidenav .logo-wrapper {
        line-height: 64px;
    }

    .brand-sidenav .logo-wrapper img {
        top: 18px;
    }

    .brand-sidenav .logo-wrapper a.navbar-toggler {
        top: 14px;
    }

    .perfil-wrapper {
        line-height: 40px
    }
    .perfil-wrapper img {
        margin-top: 14px;
    }
    
}

@media only screen and (max-width: 992px){
    .sidenav-main {
        height: 0px;
    }
    .sidenav-main .sidenav {
        top: 0;
        width: 260px;
        transform: translateX(-105%);
        background-color: rgba(0, 0, 0, .85); /* prueba de backgorund para sidenav menor de 992px; comentar para dejar en normalidad */
    }

    .color-white-992 {
        color: #ececec; /* prueba de color para sidenav menor a 992px; comentar para dejar en normalidad */
    }

    .collection a.collection-item {
        color: #ebe98e; /* prueba de color para sidenav menor a 992px; comentar para dejar en normalidad */
    }
    .collection a.collection-item i {
        color: #ebe98e; /* prueba de color para sidenav menor a 992px; comentar para dejar en normalidad */
    }

    .sidenav-main .brand-sidenav {
        padding-left: 40px;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    
}

@media only screen and (min-width: 993px){
    #container-page {
        padding-left: 260px;
    }

    #container-page.main-full {
        padding-left: 64px;
    }

    .brand-sidenav .logo-wrapper img {
        top: 15px;
        left: 8px;
        height: 36px;
    }
    .brand-sidenav .logo-wrapper span.logo-text {
        left: 40px;
    }
}

@media only screen and (min-width: 1200px){
    
    #container-page{
        padding-top: 24px 32px;
    
    }
    .container-page{
        padding: 0 32px;
    }

}