body {
    background-color: #ffffff;
}

/* HEADER */
.navbar .header-search-wrapper {
    position: relative;
    display: inline-block;
    width: -webkit-calc(100% - 600px);
    width: -moz-calc(100% - 600px);
    width: calc(100% - 600px);
    height: 40px;
    margin: 10px auto 0 285px;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.navbar .header-search-wrapper i {
    font-size: 24px;
    line-height: 32px !important;
    position: absolute;
    top: 6px;
    left: 24px;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease;
}

.navbar .navbar-dark .header-search-wrapper i {
    color: #fff;
}

.navbar input.header-search-input {
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 87%;
    height: 24px;
    padding: 8px 8px 8px 72px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    border-radius: 3px;
    outline: none;
    background: rgba(255, 255, 255, .3);
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.navbar .navbar-dark .header-search-wrapper input.header-search-input {
    color: #fff;
    border: 1px solid rgba(230, 230, 230, .05);
    background: rgba(230, 230, 230, .3);
}

.navbar .navbar-dark .header-search-wrapper input.header-search-input:hover,
.navbar .navbar-dark .header-search-wrapper input.header-search-input:active,
.navbar .navbar-dark .header-search-wrapper input.header-search-input:focus 
{
    border: 1px solid rgba(230, 230, 230, .1);
    background: rgba(230, 230, 230, .1);
    box-shadow: none !important;
}

.perfil-wrapper {
    line-height: 30px;
}

.perfil-wrapper img {
    border-radius: 50%;
    height: 36px;
    margin-top: 10px;
}



/* FIN DE HEADER */

/* SIDENAV */
.sidenav-main {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 260px;
    height: 100%;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}

/* LOGO */
.brand-sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: 56px;
    background: #6b202e;
    -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .2);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.brand-sidenav .logo-wrapper {
    font-size: 3rem;
    line-height: 56px;
    margin: 0;
    white-space: nowrap;
}

.brand-sidenav .logo-wrapper img {
    height: 28px;
    left: 54px;
    position: absolute;
    top: 14px;
}
.brand-sidenav .logo-wrapper span.logo-text {
    color: #ffffff;
    font-size: 28px;
    left: 80px;
    padding-left: 8px;
    position: absolute;
    transition: opacity .2s linear;
    visibility: visible;

    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    opacity: 1;
}

.brand-sidenav .logo-wrapper a.navbar-toggler {
    border-radius: 50px;
    cursor: pointer;
    left: 8px;
    padding: 5px;
    position: absolute;
    top: 10px;
}

.brand-sidenav .logo-wrapper a.navbar-toggler i {
    font-size: 24px;
    display: block;
    color: #ffffff;
}

/* LA LISTA ORDENADA - MENU LATERAL */
.sidenav {
    top: 64px;
    overflow: hidden;
    width: inherit;
    height: 100%;
    -webkit-transition: auto !important;
    -moz-transition: auto !important;
    -o-transition: auto !important;
    transition: auto !important;
    border: none;
    -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .2);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.sidenav.sidenav-fixed {
    position: fixed;
    left: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

/* Color de los ITEMS del sidenav */
.collection a.collection-item {
    color: #992e45;
}
.collection a.collection-item i {
    color: #992e45;
}

.sidenav .active .collapsible-header,
.sidenav.fixed .active .collapsible-header {
  background-color: rgba(0, 0, 0, 0.05);
}

.collection-item{
    position: relative;
}

.name-menu-item{
    margin-left: 12px
}


/* .collection a.collection-item,  */
.sidenav a.collection-item {
    border-radius: 0 12px 12px 0;
    margin-right: 16px;
    padding: 10px 10px 10px 30px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
} 

.sidenav li.active .fa-angle-down:before {
    content: "\f106";
}

.sidenav li.active {
    background-color: rgba(107, 32, 46, 0.09);
}

.sidenav li .collapsible-body {
    background: transparent;
}

.collection .collection-item {
    background: transparent;
    border-bottom: none;
}

.collection a.collection-item:not(.active):hover {
    background-color: rgba(233, 230, 88, 0.5);
}

.collection .collection-item.active {
    background: #992e45;
    background: -webkit-gradient(linear, right top, left top, from(#992e45), to(#6b202e)) ;
    background: -webkit-linear-gradient(right, #992e45, #6b202e) ; 
    /* background: -moz- oldlinear-gradient(right, #992e45, #6b202e) ; */
    background:      -o-linear-gradient(right, #992e45, #6b202e) ;
    background:         linear-gradient(-90deg, #992e45, #6b202e) ;
    color: #ebe98e;
}

.collection .collection-item.active i {
    color: #ebe98e;
}

.collapsible-header{
    position: relative;
}

.i-right{
    font-size: 16px !important;
    margin: 0 !important;
    position: absolute;    
    right: 10px;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}

/* FIN - SIDENAV */


.upeu-garnet-text{
    color: #992e45;
}
.gradient-45upeu-dark
{
      background: #992e45;
      background: -webkit-gradient(linear, right top, left top, from(#992e45), to(#6b202e)) ;
      background: -webkit-linear-gradient(right, #992e45, #6b202e) ; 
      /* background: -moz- oldlinear-gradient(right, #992e45, #6b202e) ; */
      background:      -o-linear-gradient(right, #992e45, #6b202e) ;
      background:         linear-gradient(-90deg, #992e45, #6b202e) ;
}
.gradient-45upeu-dark.gradient-shadow
{
    -webkit-box-shadow: 0 6px 20px 0 rgba(107, 32, 46, .5) ;
            box-shadow: 0 6px 20px 0 rgba(107, 32, 46, .5) ;
}

.logo-upeu-gpro{
    margin: 0 16px;
    overflow: hidden;
    height: 64px;
}

.logo-upeu-gpro img{    
    display: inline-block;
    height: 40px;    
    vertical-align: middle;
}

.logo-upeu-gpro span{
    display: inline-block;
    font-size: 32px;
    margin-left: 8px;
    /* vertical-align: middle; */
}

.pdt-16{
    padding-top: 16px;
}

.menu-celular{
    position: absolute;
    top: 15px;
    z-index: 998;
    color: #ececec;
    left: 8px;
}

.menu-celular i{
    font-size: 36px;
}

.container-page{
    padding: 0 16PX;
}

/* BREADCRUMB DE CADA PAGINA */
.breadcrumb-page {
    background-color: transparent;
    box-shadow: none;
    height: 24px;
    line-height: 24px;
}

.breadcrumb-page  .breadcrumb {
    font-size: 14px;
}
.breadcrumb-page a, .breadcrumb::before {
    color: #444 !important;
}
.breadcrumb-page a:hover {
    color: rgba(153, 46, 69, 0.5) !important;
}

.breadcrumb-page span{
    color: #888 !important;
}

/* BREADCRUMB DE CADA PAGINA  FIN */


/* TITULO DE CADA PAGÍNA */
.title-page h2{
    margin-top: 0;
    font-size: 38px;
    margin-bottom: 12px
}

.card {
    overflow: hidden;
    margin: 1rem 0 .5rem 0;
}


/* FORMULARIOS */
.input-field{
    margin: 0;
}

#container-page{
    padding-top: 16px;

}
#container-page.main-full {
    padding-left: 0;
}

@media only screen and (min-width: 601px){
    .brand-sidenav {
        height: 64px;
    }

    .brand-sidenav .logo-wrapper {
        line-height: 64px;
    }

    .brand-sidenav .logo-wrapper img {
        top: 18px;
    }

    .brand-sidenav .logo-wrapper a.navbar-toggler {
        top: 14px;
    }

    .perfil-wrapper {
        line-height: 40px
    }
    .perfil-wrapper img {
        margin-top: 14px;
    }
    
}

@media only screen and (max-width: 992px){
    .sidenav-main {
        height: 0px;
    }
    .sidenav-main .sidenav {
        top: 0;
        width: 260px;
        transform: translateX(-105%);
        background-color: rgba(0, 0, 0, .85); /* prueba de backgorund para sidenav menor de 992px; comentar para dejar en normalidad */
    }

    .color-white-992 {
        color: #ececec; /* prueba de color para sidenav menor a 992px; comentar para dejar en normalidad */
    }

    .collection a.collection-item {
        color: #ebe98e; /* prueba de color para sidenav menor a 992px; comentar para dejar en normalidad */
    }
    .collection a.collection-item i {
        color: #ebe98e; /* prueba de color para sidenav menor a 992px; comentar para dejar en normalidad */
    }

    .sidenav-main .brand-sidenav {
        padding-left: 40px;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    
}

@media only screen and (min-width: 993px){
    #container-page {
        padding-left: 260px;
    }

    #container-page.main-full {
        padding-left: 64px;
    }

    .brand-sidenav .logo-wrapper img {
        top: 15px;
        left: 8px;
        height: 36px;
    }
    .brand-sidenav .logo-wrapper span.logo-text {
        left: 40px;
    }
}

@media only screen and (min-width: 1200px){
    
    #container-page{
        padding-top: 24px 32px;
    
    }
    .container-page{
        padding: 0 32px;
    }

}