<ul class="collapsible">
    <li routerLinkActive="active">
        <div class="collapsible-header" routerLinkActive="active" ><i class="material-icons">folder</i>Proyectos</div>
        <div class="body-menu-link collapsible-body">
        <ul class="collection">
            <a routerLink="nuevo-proyecto"  routerLinkActive="active" class="collection-item" >
                <i class="material-icons icon-item-menu">add_circle_outline</i>
                <span class="name-menu-item">Nuevo Proyecto</span>              
            </a>
            <a href="#!" class="collection-item">
                <i class="material-icons icon-item-menu">add_circle_outline</i> 
            <span class="name-menu-item">Mis Proyecto</span>  
            </a>
            <a href="#!" class="collection-item">
                <i class="material-icons icon-item-menu">add_circle_outline</i> 
                <span class="name-menu-item">Aprobar Proyecto</span>  
            </a>
            <a href="#!" class="collection-item">
                <i class="material-icons icon-item-menu">add_circle_outline</i> 
                <span class="name-menu-item">Archivados</span>  
            </a>
        </ul>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">group</i>Areas</div>
        <div class="body-menu-link  collapsible-body">
        <ul class="collection">
            <a href="#!" class="collection-item">Alvin</a>
            <a href="#!" class="collection-item active">Alvin</a>
            <a href="#!" class="collection-item">Alvin</a>
            <a href="#!" class="collection-item">Alvin</a>
        </ul>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">bar_chart</i>Reportes</div>
        <div class="body-menu-link  collapsible-body">
        <ul class="collection">
            <a href="#!" class="collection-item">Alvin</a>
            <a href="#!" class="collection-item active">Alvin</a>
            <a href="#!" class="collection-item">Alvin</a>
            <a href="#!" class="collection-item">Alvin</a>
        </ul>
        </div>
    </li>
    
    <li>
        <div class="collapsible-header"><i class="material-icons">settings</i>Configuraciones</div>
        <div class="body-menu-link  collapsible-body">
        <ul class="collection">
            <a href="#!" class="collection-item">Alvin</a>
            <a href="#!" class="collection-item active">Alvin</a>
            <a href="#!" class="collection-item">Alvin</a>
            <a href="#!" class="collection-item">Alvin</a>
        </ul>
        </div>
    </li>

</ul>